body {
  background-color: black;
}

.home{
  display:block;
  padding: 50px;
  color:white;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-bottom: 2px solid gold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gold;
  padding: 0.75rem;
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid gold;
  padding: 50px;
}

.quote-container h3 {
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.quotes-table {
  width: fit-content;
  border: 1px so white;
  display:block;
  border: 1px solid white;
  color:white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

th {
  padding-right: 80px;
  padding-left: 80px;
  text-align: center;
  border-bottom: 1px solid white;
  border-right: 1px solid white ;
}

.table-header {
  color: gold;
}

td {
  text-align: center;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  padding-top: 20px;
  border-right: 1px solid white;
}
.submit-quote {
  padding: 50px;
  text-align: center;
}

.search {
  font-size: medium;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.moria {
  height: 650px;
}

.search-bar {
  color:gold;
  font-size: x-large;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display:flex;
  flex-direction: column;
  width: 75%;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
}
.did-you-know-gold {
  color: gold;
  font-size: 2.5em;
}

.table-image {
  width: 130px; 
}

.fact-container {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 50px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.submit-quote-area {
  resize: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 10px 0;
  font-size: medium;
}

.fact-button {
  padding: 20px;
}

.fact-display {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.submit-fact-area {
  resize: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: medium;
  width: 60%;
}

.submit-fact {
  padding: 50px;
  border-bottom: 2px solid gold;
}

.input-quote {
  padding: 8px;
  font-size: medium;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 10px 0;
}

.quote-inputs {
  display: flex;
  flex-direction: column;
}



.button {
  box-shadow:inset 0px 1px 3px 0px #fce95b;
	background:linear-gradient(to bottom, #ffe224 5%, #c7800e 100%);
	background-color:#ffe224;
	border-radius:5px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #ffee66;
}

.button:hover {
  background:linear-gradient(to bottom, #c7800e 5%, #ffe224 100%);
	background-color:#c7800e;
}

.button:active {
  position:relative;
	top:1px;
}